<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>Particle UI</title>

		<link rel="stylesheet" type="text/css" href="css/main.css">
			
		<script id="dataStuff" name="dataStuff" type="text/javascript" data-gravity="<%= data.gravity %>" data-wind="<%= data.wind %>" data-yVelocity="<%= data.yVelocity %>" data-xVelocity="<%= data.xVelocity %>" data-opacity="<%= data.opacity %>" data-size="<%= data.size %>" data-loopTime="<%= data.loopTime %>" data-red="<%= data.red %>" data-blue="<%= data.blue %>" data-green="<%= data.green %>" data-particleType="<%= data.particleType %>" data-tunnel="<%= data.tunnel %>" data-vortex="<%= data.vortex %>" data-density="<%= data.density %>">
		
		</script>
		
		<script type="text/javascript" src="controller.js"></script>

	</head>

	<body>


		<form id="effects-rack" class="slider-form" action="/particle" method="post">
			
			<div class="wrapper">

				<h1>Particle Playground</h1>
				
				<button type="submit" value="submit" class="btn btn-primary">update values</button>

				<h4 id="density">density</h4>

				<input type="range" value="<%= data.density %>" name="density" min="1" max="15">
	
				<% if (data.tunnel) { %>
				<select value="<%= data.tunnel %>" name="tunnel">
					<option value="1">vortex</option>
					<option value="0">normal</option>
				</select>
				
				<% } else { %>
				<select value="<%= !data.tunnel %>" name="tunnel">
					<option value="0">normal</option>
					<option value="1">vortex</option>
				</select>
				<% } %>
	

				<% if (data.tunnel) { %>
				<h4 id="vortex-size">vortex size</h4>
				<input type="range" value="<%= data.vortex %>" name="vortex" min="1" max="5">

				<% } %>
				


				<% if (data.particleType) { %>
				<select value="<%= data.particleType %>" name="particleType">
					<option value="1">dots</option>
					<option value="0">streaks</option>
				</select>
				
				<% } else { %>
				<select value="<%= !data.particleType %>" name="particleType">
					<option value="0">streaks</option>
					<option value="1">dots</option>
				</select>
				<% } %>
				



				<h4 id="top-label">gravity</h4>

				<input type="range" value="<%= data.gravity %>" name="gravity" min="1" max="1000">
				
				<h4>wind</h4>

				<input type="range" value="<%= data.wind %>" name="wind" min="0" max="1000">
		

				<h4>y-velocity</h4>

				<input type="range" value="<%= data.yVelocity %>" name="yVelocity" min="0" max="1000">
				
				<h4>x-velocity</h4>

				<input type="range" value="<%= data.xVelocity %>" name="xVelocity" min="0" max="1000">
			

				<h4>opacity</h4>

				<input type="range" value="<%= data.opacity %>" name="opacity" min="1" max="1000">
			

				<h4>size</h4>

				<input type="range" value="<%= data.size %>" name="radius" min="1" max="90">
			

				<h4>loop time</h4>

				<input type="range" value="<%= data.loopTime %>" name="loopTime" min="4" max="1200">
			

				
				<h4>red value</h4>

				<input type="range" value="<%= data.red %>" name="red" min="0" max="120">
				
				<h4>blue value</h4>

				<input type="range"  value="<%= data.blue %>" name="blue" min="0" max="120">
				
				<h4>green value</h4>

				<input type="range"  value="<%= data.green %>" name="green" min="0" max="120">

			</div>

		</form>

	</body>

</html>
